section#about {
  .inside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc($gap * 2);
    flex-wrap: wrap;

    &>div {
      flex: 1;
      min-width: 250px;
    }

    h2 {
      margin-bottom: $gap;
    }

    .picture {
      img.ltr {
        border-radius: 500px 0 0 500px;
      }

      img.rtl {
        border-radius: 0 500px 500px 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  section#about {
    h2 {
      text-align: center;
    }
  }
}
