$primary_color: #F27C0D;
$accent_color: #002950;

$bg_light: #ffffff;
$bg_dark: #000000;

$title_light: #E2E2E2;
$txt_light: #C2C2C2;
$label_light: #A2A2A2;

$title_dark: #2E2E2E;
$txt_dark: #4E4E4E;
$label_dark: #6E6E6E;

$gap: 24px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 300px;
  min-height: 100dvh;
  color: $txt-dark;
  font-family: Helvetica, sans-serif;
}

ul,
ol,
li {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  background: transparent;
  border: none;
  color: inherit;
  font-weight: 600;
  padding: calc($gap / 2) calc($gap);
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

img {
  max-width: 100%;
}
