main {
  position: relative;
}

section {
  padding: calc($gap * 3) $gap;
}

.inside-container {
  max-width: 1200px;
  margin-inline: auto;

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
}

.show-mobile-menu {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.3s ease;
}

.hide-mobile-menu {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
}

#goTop {
  padding: calc($gap / 3) calc($gap / 2);
  font-size: 24px;
  font-weight: 900;
  background-color: rgba($accent-color, 0.75);
  color: $primary-color;
  border-radius: 50%;
  position: fixed;
  bottom: calc($gap * 3);
  right: $gap;
  z-index: 100;

  &:hover {
    color: #fff;
    background-color: $accent-color;
  }
}
