main {
  position: relative;
}

section {
  padding: calc($gap * 3) $gap;
}

.inside-container {
  max-width: 1200px;
  margin-inline: auto;

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
}

.show-mobile-menu {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.3s ease;
}

.hide-mobile-menu {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
}

#goTop {
  position: fixed;
  bottom: calc($gap * 2);
  right: $gap;
  z-index: 100;
  cursor: pointer;
  opacity: 0.75;
  width: 36px;
  height: 36px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &:hover {
    opacity: 1;
  }
}

#whatsapp {
  position: fixed;
  bottom: calc($gap * 3);
  left: $gap;
  z-index: 100;

  &:hover {
    filter: brightness(1.1);
  }

  img {
    -webkit-filter: drop-shadow(5px 5px 5px rgba($bg-dark, 0.5));
    filter: drop-shadow(5px 5px 5px rgba($bg-dark, 0.5));
  }
}
