section#hero {
  min-height: 600px;
  background: linear-gradient(rgba($bg-dark, 0.75), rgba($bg-dark, 0.75)),
    url(../../assets/hero-background.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .inside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $txt-light-1;
    text-align: center;

    h1 {
      font-size: 75px;
    }

    p {
      font-size: 20px;
      margin-bottom: $gap;
    }

    a.services-CTA-btn {
      display: block;
      width: max-content;
      padding: calc($gap / 2) $gap;
      background-color: $primary-color;
      color: $txt-dark;
      border-radius: 50px;
      font-size: 16px;
      font-weight: 600;
      box-shadow: 0px 0px 5px 5px rgba($primary-color, 0.1);
      -webkit-box-shadow: 0px 0px 5px 5px rgba($primary-color, 0.1);
      -moz-box-shadow: 0px 0px 5px 5px rgba($primary-color, 0.1);

      &:hover {
        background-color: #fff;
        transition: 0.3s;
      }
    }
  }
}
