section#hero {
  min-height: 600px;
  background: linear-gradient(rgba($bg_dark, 0.75), rgba($bg_dark, 0.75)),
    url(../assets/hero-background.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .inside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 75px;
      color: $title_light;
    }

    p {
      font-size: 20px;
      color: $txt_light;
      margin-bottom: $gap;
    }

    a.services-CTA-btn {
      display: block;
      width: max-content;
      padding: calc($gap / 2) $gap;
      border: 3px solid $primary_color;
      border-radius: 50px;
      font-size: 16px;
      font-weight: 600;
      color: $txt_light;
      background: linear-gradient(to right, $primary_color 50%, rgba($primary_color, 0) 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.5s ease-out;

      &:hover {
        color: #000000;
        background-position: left bottom;
      }
    }

    a.services-CTA-btn.rtl {
      background: linear-gradient(to left, $primary_color 50%, rgba($primary_color, 0) 50%);
      background-size: 200% 100%;
      background-position: left bottom;
      transition: all 0.5s ease-out;

      &:hover {
        color: #000000;
        background-position: right bottom;
      }
    }
  }
}
