section#services {
  background-color: $accent_color;

  .inside-container {
    h2 {
      text-align: center;
      color: $title_light;
      margin-bottom: calc($gap * 2);
    }

    .carts {
      display: flex;
      gap: $gap;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .cart {
        flex: 1;
        min-width: 250px;
        padding: $gap;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap;
        background-color: $bg_light;
        border-radius: 24px;

        &:hover {
          box-shadow: 0 0 10px 3px rgba($primary_color, 0.55);
          -webkit-box-shadow: 0 0 10px 3px rgba($primary_color, 0.55);
          -moz-box-shadow: 0 0 10px 3px rgba($primary_color, 0.55);
          transition: 0.25s;
        }

        img {
          width: 100px;
        }

        h3 {
          color: $title_dark;
        }

        p,
        ul {
          color: $txt_dark;
        }

        li {
          list-style: circle;
        }
      }
    }
  }
}
